body {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; 
  font-family: 'Barlow', sans-serif;


}


#container {
  height: 500px; 
  width: 500px; 
  background-color: white;
  display: flex; 
  flex-direction: column;

}

.rows {

  display: flex; 
  height: 100%;


}

.square {
  border: solid 1px black; 
  width: 100%; 
}

button { 
  padding: 8px 20px;
  border-radius:8px;
  font-weight: 800;
  width: 100px;
  font-family: 'Barlow', sans-serif;
}

